[submodule "Sources/MalsMerger"]
	path = Sources/MalsMerger
	url = https://github.com/ArchLeaders/MalsMerger
[submodule "Sources/RESTBL-CLI"]	
	path = Sources/RESTBL-CLI
	url = https://github.com/MasterBubbles/restbl-cli
